.modalSignIn {
    background-color: #1C2833;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.registerSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logoP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logomodalSignIn {
    height: 60px;
    width: 60px;
    margin-top: 20px;
}

.p {
    color: white;
    font-family: Verdana;
    font-size: 25px;
    font-weight: bold;
}

.registerSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px 0;
}


@keyframes shake {
    0%, 100% {translate: 0;}
    25% {translate: 8px 0;}
    75% {translate: -8px 0;}
}

.signInInput {
    margin: 5px 0 5px 0;
    height: 35px;
    width: 45%;
    border-radius: 5px;
    background-color: #1C2833;
    animation: shake 0.14s 3;
}

.signInInput:valid {
    animation: none;
}

.signInButton {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #1C2833;
    background-color: #fff;
    padding: 10px 30px;
    border: solid #ffffff 1px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    border-radius: 30px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 45%;
    margin-top: 20px;
}

.signInButton:hover{
    transition : 1000ms;
    padding: 10px 50px;
    transform : translateY(-0px);
    background-color: #1C2833;
    color: #fff;
    border: solid 1px #fff;
}

.wrongUser {
    color: red;
    font-family: Verdana;
    font-size: 12px;
}