.tweet {
	display: flex;
	height: 180px;
	background-color: #273746 ;
	flex-direction: column;
	border-bottom: 1px solid #273746;
	width: 85%;
	margin-bottom: 10px;
	border-radius: 16px;
}

.logoInfos {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 10px 10px 0 20px;
}

.userLogo {
	height: 50px;
	width: 50px;
	margin-right: 10px;
}

.p {
	color: white;
	font-weight: bold;
	font-size: 18px;
	margin-right: 5px;
}

.p1 {
	color: #566573;
	font-family: Verdana;
	font-size: 15px;
	margin-right: 5px;
}

.p2 {
	color: #566573;
	font-family: Verdana;
	font-size: 11px;
	margin-right: 5px;
}

.p3 {
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 15px;
}

.paragraphe {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0  20px 0 20px;
	height: 80px;
	/* overflow: auto; */
	max-width: 90%;
}

.footer_btn {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 5px  20px;
}

.heart {
	margin-right: 5px;
}

.like {
	color: white;
	font-size: 17px;
	margin-right: 10px;
}
.heart:hover {
	cursor: pointer;
}

.trash:hover {
	cursor: pointer;
}